<%= render 'layouts/header' %>

<h1>登録済みのお子様一覧</h1>

<div class="breadcrumbs">
	<%= link_to root_path do %>
		<%= "Home" %>
	<% end %>
	<%= ">" %>
	<span class="current">商品一覧</span>
</div>


<table class="table">
	<tbody>
		<% @user.children.each do |child| %>
			<tr>

				<%= attachment_image_tag(child, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size: '100x100') %>

				<td>
					<%= child.name %>
				</td>
				<td>
					<% if child.sex == 1 %>
                		<%= "男の子" %>
                	<% else %>
                		<%= "女の子" %>
                	<% end %>
				</td>
				<td>
					<%= child.age_year %>歳
					<%= child.age_month %>ヶ月
				</td>
				<td>
					<%= child.temperaments.pluck(:name).join(", ") %>
				</td>
				<td>
				 <%= link_to '詳しくみる', child_path(child.id), class: 'btn btn-primary' %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
