<%= render 'layouts/header' %>

<div class="container">

<div class="breadcrumbs">
  <%= link_to root_path do %>
    <%= "Home" %>
  <% end %>
  <%= ">" %>
  <span class="current">お子様情報登録画面</span>
</div>

<h3 class="toy_select">お子様情報登録画面</h3><br>

<p>おもちゃを使うお子様の情報をご入力ください。レビュー投稿の際に、記載させて頂きます。</p>

<%= form_for(@child) do |f| %>

		<table class="table">
              <tr>
                <th class="active">ニックネーム</th>
                <td><%= f.text_field :name, autofocus: true %>
                </td>
              </tr>

              <tr>
                <th class="active">性別</th>
                <td>
                	<%= f.label :sex, '性別' %>
                  	<%= f.select :sex, {'男の子': 1, '女の子': 2}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
                </td>
              </tr>
              <tr>
                <th class="active">年齢</th>
                <td>
                  <%= f.text_field :age_year, autofocus: true %>歳
                  <%= f.text_field :age_month, autofocus: true %>ヶ月
                </td>
              </tr>

              <tr>
                <th class="active">気質</th>
                <td>

                    <%= f.label :気質 %><br />
                    <%= collection_check_boxes(:child, :temperament_ids, Temperament.all, :id, :name) do |b| %>
                    <%= b.label { b.check_box + b.text } %>
                    <% end %>
                  </div>
  			       </td>
              </tr>

              <tr>
                <th class="active">お住まいの種類</th>
                <td>
                  <%= f.select :environment, {'マンション・アパート': true, '一軒家': false}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
                </td>
              </tr>
              <tr>
                <th class="active">好きなもの</th>
                <td>
                  <%= f.text_field :favorite_thing, autofocus: true %>
                </td>
              </tr>
              <tr>
                <th class="active">嫌いなもの</th>
                <td>
                  <%= f.text_field :un_favorite_thing, autofocus: true %>
                </td>
              </tr>
              <tr>
                <th class="active">最近よく話す言葉・口癖</th>
                <td>
                  <%= f.text_field :status, autofocus: true %>
                </td>
              </tr>


              <%= f.hidden_field :user_id, value: @user.id  %>

		</table>
        	　<%= f.submit "登録する", class: 'btn btn-primary centerbtn' %>
<% end %>








