

<h2>おもちゃ詳細画面</h2>

		<%= attachment_image_tag @toy, :toy_image, format: 'jpeg', size: "100x100", fallback: "no_image.jpg" %>

		<table class="table">
			<tbody>

				<tr>
	  				<th>メーカー</th>
	  				<th><%= @toy.manufacturer %></th>
  				</tr>
  				<tr>
		        <th>素材</th>
		        <th><%= @toy.material %></th>
		      	</tr>
		        <tr>
			        <th>商品の寸法(奥行きx幅x高さ)</th>
			        <th><%= @toy.depth %><%= "x" %>
			        <%= @toy.width %><%= "x" %>
		        	<%= @toy.height %></th>
		      	</tr>
		      <tr>
		        <th>対象年齢</th>
		        <th><%= @toy.target_age %><%= "歳から" %></th>
		      </tr>
		      <tr>

	  			<tr>
	  				<th>商品名</th>
	  				<th>
	  				<%= @toy.name %>
	  				</th>
	  			</tr>

	  			<tr>
	  				<th>価格</th>
	  				<th><%= @toy.price %>円
	  				</th>
  				</tr>

  				<tr>
	  				<th>商品説明</th>
	  				<th><%= @toy.toy_introduction %></th>
  				</tr>

			</tbody>
		</table>

	<h3>口コミ一覧</h3>
		<% @toy.reviews.each do |review| %>

		<div class="col-md-6 mb-3">
        <div class=" posts-content">
          <p><%= review.created_at %></p>
          <h4 class="mb-3">評価：<%= review.rate %>点</h4>

          <!--星評価-->
         <div id="star-rate-<%= review.id %>"></div>
          <script>
          $('#star-rate-<%= review.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= review.rate %>,
          });
          </script>
        <!--/星評価-->
    		<h4 class="mb-3">内容：<%= review.body %></h4>
    		<h4 class="mb-3">効果：<%= review.effect.name %></h4>
    	<% end %>


				 <%= link_to '編集する', edit_toy_path(@toy), class: 'btn btn-primary' %>
				 <%= link_to '商品一覧に戻る', toys_path, class: 'btn btn-primary' %>






















