<h1>おもいで編集</h1>

				<%= @child_archive.created_at %>
	  			<%= @child_archive.child.name %>
	  			<%= @child_archive.age_year %>歳
				<%= @child_archive.age_month %>ヶ月


<%= form_for(@child_archive) do |f| %>

		<table class="table">

              <tr>
                <td>
                  <%= f.attachment_field :profile_image, placeholder: "Image", class: "user-edit-form" %>
                </td>
              </tr>

              <tr>
                <th class="active">性格タイプ</th>
                <td>

                    <%= f.label :気質 %><br />
                    <%= collection_check_boxes(:child_archive, :temperament_ids, Temperament.all, :id, :name) do |b| %>
                    <%= b.label { b.check_box + b.text } %>
                    <% end %>
                  </div>
               </td>
              </tr>

              <tr>
                <th class="active">お住まいの種類</th>
                <td>
                  <%= f.select :environment, {'マンション・アパート': true, '一軒家': false}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
                </td>
              </tr>
              <tr>
                <th class="active">好きなもの</th>
                <td>
                  <%= f.text_field :favorite_thing, autofocus: true %>
                </td>
              </tr>
              <tr>
                <th class="active">嫌いなもの</th>
                <td>
                  <%= f.text_field :un_favorite_thing, autofocus: true %>
                </td>
              </tr>
              <tr>
                <th class="active">最近よく話す言葉・口癖</th>
                <td>
                  <%= f.text_field :status, autofocus: true %>
                </td>
              </tr>
              <tr>
                <th class="active">メモ</th>
                <td>
                  <%= f.text_field :memo, autofocus: true %>
                </td>
              </tr>


		</table>
        	　<%= f.submit "登録する",class: "btn btn-success" %>
<% end %>

