<h1>おもいで</h1>
		<h3>検索タグ</h3>

        <%= form_with(url: child_archives_path, method: :get, local: true) do |c| %>
			<%= c.collection_select :search, Child.all, :name, :name %>
			<%= c.submit 'Search' %>
			<% end %>


<table class="table">
	<tbody>
		<% @child_archives.each do |child_archive| %>
			<tr>
				<td>
					<%= attachment_image_tag child_archive, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size: '100x100' %>
				</td>
				<td><%= child_archive.created_at %>
				</td>

				<td>
					<%= child_archive.child.name %>
				</td>
				<td>
				 <%= link_to '詳しくみる', child_archive_path(child_archive.id), class: 'btn btn-primary' %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= will_paginate @child_archives, previous_label: '&lt 前へ', next_label: '次へ &gt' %>
