<%= render 'layouts/header' %>

<div class="container">

  <h3>おもいで編集</h3>

    <div class="row child_archivecontents">
      <div class="col-md-offset-2 col-md-9">
        <div class="row">
            <div class="col-md-offset-2 col-md-3">
              <%#= attachment_image_tag @child_archive, :profile_image, :fill, 200, 200, fallback: "no_image.jpg", size: '200x200' %>
            </div>
            <div class="col-md-offset-1 col-md-6 child_archivep">
              <br>
              <h3><%#= @child_archive.child.name %></h3><br>
              <%#= @child_archive.age_year %>歳
              <%#= @child_archive.age_month %>ヶ月
            </div>
        </div>

        <div class="row col-md-12">
          <%= form_for(@child_archive) do |f| %>
            <table class="table">

              <tbody>

                  <tr>
                    <th class="active">お住まいの種類</th>
                    <th>
                      <%= f.select :environment, {'マンション・アパート': true, '一軒家': false}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
                    </th>
                  </tr>

                  <tr>
                    <th class="active">好きなもの</th>
                    <th><%= f.text_field :favorite_thing, autofocus: true, :size=>"80x100" %>
                    </th>
                  </tr>

                  <tr>
                    <th class="active">嫌いなもの</th>
                    <th><%= f.text_field :un_favorite_thing, autofocus: true, :size=>"80x100" %>
                    </th>
                  </tr>

                  <tr>
                    <th class="active">最近覚えた言葉・口癖</th>
                    <th><%= f.text_field :status, autofocus: true, :size=>"80x100" %>
                    </th>
                  </tr>

                  <tr>
                    <th class="active">メモ</th>
                    <th><%= f.text_area :memo, autofocus: true, :size=>"80x5" %>
                    </th>
                  </tr>
              </tbody>
            </table>
        </div>

        <div class="col-md-offset-5 col-md-9">
            <%= f.submit "登録する",class: "btn btn-success" %>
        </div>
        <% end %>
      </div>
    </div>


</div>