<h1>おもいで詳細</h1>



			<%= attachment_image_tag @child_archive, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size: '100x100' %>

				<%= @child_archive.created_at %>
	  			<%= @child_archive.child.name %>
	  			<%= @child_archive.age_year %>歳
				<%= @child_archive.age_month %>ヶ月


<table class="table">

	  			<tr>
	  				<th>性格タイプ</th>
	  				<th>
	  					<% if @child_archive.temperament == 1 %>
                			<%= "エンジェルタイプ" %>
                		<% elsif @child_archive.temperament == 2 %>
                			<%= "テキストタイプ" %>
                		<% elsif @child_archive.temperament == 3 %>
                			<%= "アクティブタイプ" %>
                		<% elsif @child_archive.temperament == 4 %>
                			<%= "デリケートタイプ" %>
                		<% else %>
                			<%= "ネガティブタイプ" %>
                		<% end %>
	  				</th>
  				</tr>

  				<tr>
	  				<th>お住まいの種類</th>
	  				<th>
	  					<% if @child_archive.environment == true %>
                			<%= "マンション・アパート" %>
                		<% else %>
                			<%= "一軒家" %>
                		<% end %>
	  				</th>
	  			</tr>

	  			<tr>
	  				<th>好きなもの</th>
	  				<th><%= @child_archive.favorite_thing %>
	  				</th>
  				</tr>

  				<tr>
	  				<th>嫌いなもの</th>
	  				<th><%= @child_archive.un_favorite_thing %>
	  				</th>
  				</tr>

  				<tr>
	  				<th>最近覚えた言葉・口癖</th>
	  				<th><%= @child_archive.status %>
	  				</th>
  				</tr>

  				<tr>
	  				<th>メモ</th>
	  				<th><%= @child_archive.memo %>
	  				</th>
  				</tr>


			</tbody>
		</table>

				 <%= link_to '編集する', edit_child_archive_path(@child_archive.id), class: 'btn btn-primary' %>
				 <%= link_to 'おもいでをみる', child_archives_path(@user), class: 'btn btn-primary' %>
