<%= render 'layouts/header' %>

<div class="container">

<div class="breadcrumbs">
	<%= link_to root_path do %>
		<%= "Home" %>
	<% end %>
	<%= ">" %>
	<span class="current">マイページ</span>
</div>



	<h3 class="toy_select">マイページ</h3><br>

		<div class="row">
			<div class="col-md-3">
					<div class="prof-area">

						<%= render 'layouts/profile', user: @user %>

					<%= link_to '編集する', edit_user_path(@user), class: 'btn btn-primary col-md-offset-2 col-md-6', data: {"turbolinks" => false} %><br>
					</div>

			</div>

			<div class="col-md-6">
				<div class="row">
					<div class="mypagetitle">
					<h4><%= @user.name %>さんの最近の口コミ</h4>
					</div>

						<% if @review.present? %>

							<% @review.each do |review| %>

							<div>
								<div class="mypagecontent">
								<div class="col-md-12 review-toy">
									<div class="reviewscontent">
										<div class="reviewscontenthead">
											<p class="reviewday"><%= review.created_at.strftime('%Y/%m/%d') %></p>
											<p class="mypagereview">使用したお子様の情報:
											<%= review.child.name %>  ｜
											<%= review.age_year %>歳  <%= review.age_month %>ヶ月  |
											<%= review.temperaments.pluck(:name).join(",") %>
											</p>
										</div><br>
										<div class="col-md-5 reviewstoy">
											<%= link_to toy_path(review.toy.id) do %>
												<%= attachment_image_tag review.toy, :toy1_image, format: 'jpeg', size: "100x100", fallback: "no_image.jpg" %><br>
											<% end %>
											<p class="mypagereview">
												<%= link_to toy_path(review.toy.id) do %>
												<%= review.toy.name %></p>
												<% end %><br>
										</div>
										<div class="col-md-7 mypagereviewcontain">
							         <!--星評価-->
									         <div id="star-rate-<%= review.id %>"><%= review.rate %><%="　"%></div>
									          <script>
									          $('#star-rate-<%= review.id %>').raty({
									            size: 36,
									            starOff:  '<%= asset_path('star-off.png') %>',
									            starOn : '<%= asset_path('star-on.png') %>',
									            starHalf: '<%= asset_path('star-half.png') %>',
									            half: true,
									            readOnly: true,
									            score: <%= review.rate %>,
									          });
									          </script>
					        				<!--/星評価-->
					        				<br><br><br><%= review.body.truncate(30) %><br><br>
										</div>

										<div class="centerbtn">
											<%= link_to '詳しく見る', toy_review_myreview_path(1,1), class: 'btn btn-primary', data: {"turbolinks" => false} %>
										</div>
									</div>
								</div>
									<div class="centerbtn">
											<%= link_to 'もっと見る', toy_review_myreview_path(review.toy, review), class: 'btn btn-primary', data: {"turbolinks" => false} %>
									</div>
								</div>
							</div>
							<% end %>
						<% else %>
								<div class="mypagecontent">
									<div class="col-md-12 mypagenocontants">
										<p>投稿した口コミはありません。</p>
									</div>
								</div>
						<% end %>
				</div>

				<div class="row">
					<div class="mypagetitle">
						<h4>いいねした商品</h4>
					</div>

						<div>
							<div class="mypagecontent">

								<% if @user.liked_toys.present? %>
									<% @user.liked_toys.each do |toy| %>
									<div class="col-md-3 mypagetoyfavorite">
										<div class="panel panel-default">

											<div class="panel-heading text-center">
												<%= link_to toy_path(toy.id) do %>
												<%= attachment_image_tag toy, :toy1_image, format: 'jpeg', size: "100x100", fallback: "no_image.jpg" %>
												<% end %>
											</div>

											<div class="panel-body">
												<p class="product-brand"><%= toy.manufacturer %></p>
												<p class="toyfavorite-title">
													<%= link_to toy_path(toy.id) do %>
														<%= toy.name %>
													<% end %>
												</p>
											</div>

											<div class="mypage-panel-footer">

													<% if toy.toyfavorited_by?(current_user) %>
									                  <%= link_to toy_toyfavorites_path(toy), method: :delete do %>
									                  	<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
									                  <% end %>
									                <% else %>
									                  <%= link_to toy_toyfavorites_path(toy), method: :post do %>
									                  	<i class="far fa-heart"></i>
									                  <% end %>
													<% end %>
													  <%= toy.toyfavorites.count %>
											</div>



										</div>
									</div>
								<% end %>
								<% else %>
									<div>
										<div class="mypagecontent">
										<div class="col-md-12 mypagenocontants">
											<p>いいねしたおもちゃはありません。</p>
										</div>
										</div>
									</div>
								<% end %>
							</div>
						</div>
				</div>

			<div class="row">
					<div class="mypagetitle">
						<h4>いいねした口コミ</h4>
					</div>

					<div>
							<div class="mypagecontent">


								<% if @user.liked_reviews.present? %>
									<% @user.liked_reviews.each do |review| %>

										<div>
											<div class="col-md-2 review-user">
												<%= attachment_image_tag review.user, :profile_image, format: 'jpeg', size: "70x70", fallback: "no_image.jpg" %><br>
												<%= review.user.name %>さん
											</div>
											<div class="col-md-10 review-toy">
												<div class="reviewscontent">
													<div class="reviewscontenthead">
														<p class="toyfavorite-title"><%= review.created_at.strftime('%Y/%m/%d') %></p>
														使用したお子様の情報:
														<%= review.age_year %>歳<%= review.age_month %>ヶ月 |
														<%= review.child.temperaments.pluck(:name).join(",") %>
													</div><br>
													<div class="col-md-4 toyfavorite-title">
														<%= link_to toy_path(review.toy.id) do %>
															<%= attachment_image_tag review.toy, :toy1_image, format: 'jpeg', size: "100x100", fallback: "no_image.jpg" %><br>
														<% end %>
														<%= link_to toy_path(review.toy.id) do %>
														<%= review.toy.name %><br>
													<% end %>
													</div>
													<div class="col-md-8 mypagefavoritereview">
										         <!--星評価-->
												         <div id="star-rate-<%= review.id %>"><%= review.rate %><%="　"%></div>
												          <script>
												          $('#star-rate-<%= review.id %>').raty({
												            size: 36,
												            starOff:  '<%= asset_path('star-off.png') %>',
												            starOn : '<%= asset_path('star-on.png') %>',
												            starHalf: '<%= asset_path('star-half.png') %>',
												            half: true,
												            readOnly: true,
												            score: <%= review.rate %>,
												          });
												          </script>
								        				<!--/星評価-->
								        				<br><br><%= review.body.truncate(30) %>
													</div>
												</div>
											</div>
										</div>
									<% end %>
									<% else %>
										<div class="mypagecontent">
											<div class="col-md-12 mypagenocontants">
												<p>いいねした口コミはありません。</p>
											</div>
										</div>
									<% end %>
							</div>
					</div>
			</div>
		</div>

		<div class="col-md-3">
				<div class="row right-sidebar">
					<h4 class="mypagetitle">登録済みのお子様</h4>

					<% if @user.children.present? %>
					<% @user.children.last(2).each do |child| %>

							<div class="mypagechild">
								<%= link_to edit_child_path(child.id) do %>
									<%= attachment_image_tag child, :profile_image, format: 'jpeg', size: "100x100", fallback: "no_image.jpg" %>
								<% end %>
								<%= child.name %><br>
								<%= child.temperaments.pluck(:name).join("/") %>
							</div>
					<% end %>
					<%= link_to 'もっと見る', children_path(@user), class: 'btn btn-primary col-md-offset-3 col-md-6', data: {"turbolinks" => false} %>
					<%= link_to 'お子様を登録する', new_child_path, class: 'btn btn-primary col-md-offset-3 col-md-6', data: {"turbolinks" => false} %>

					<% else %>
						<div>
							<div class="mypagecontent">
								<div class="col-md-12 mypagenocontants">
									<p>登録がまだありません。</p>
								</div>
							</div>
							<%= link_to 'お子様を登録する', new_child_path, class: 'btn btn-primary col-md-offset-3 col-md-6', data: {"turbolinks" => false} %>
						</div>
					<% end %>

				</div>

				<br>
				<br>

				<div class="row right-sidebar">
					<h4 class="mypagetitle">最近のおもいで</h4>

					<% if @child_archives.present? %>
					<% @child_archives.each do |child_archive| %>

							<div class="mypagechild">
								<%= link_to child_archive_path(child_archive.id) do %>
									<%= attachment_image_tag child_archive, :profile_image, format: 'jpeg', size: "100x100", fallback: "no_image.jpg" %>
								<% end %>
								<%= child_archive.created_at.strftime('%Y/%m/%d') %><br>
								<%= child_archive.child.name %><br>
							</div>
						<% end %>
					<%= link_to 'もっと見る', child_archives_path(@user), class: 'btn btn-primary col-md-offset-3 col-md-6', data: {"turbolinks" => false} %>

					<% else %>
						<div class="mypagecontent">
							<div class="col-md-12 mypagenocontants">
								<p>登録がまだありません。</p>
							</div>
						</div>
					<% end %>
				</div>
		</div>
	</div>
</div>



