<%= render 'layouts/header' %>

<div class="container">

<div class="breadcrumbs">
  <%= link_to root_path do %>
    <%= "Home" %>
  <% end %>
  <%= ">" %>
  <span class="current">ログイン</span>
</div>

<div class="container">

  <h3 class="toy_select">会員の方はこちらからログイン</h3><br><br>

    <div class="col-md-offset-3 col-md-9">

                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="field">
                    <%= f.label :メールアドレス %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>"60" %>
                  </div>


                  <br>

                  <div class="field">
                    <%= f.label :パスワード %><br />
                    <%= f.password_field :password, autocomplete: "current-password" %>
                  </div>

                <br><br>

                <div class="col-md-12">
                   <div class="actions">
                    <%= f.submit "ログイン", class: 'btn btn-primary centerbtn' %>
                  </div>


                    <br><br>

                  <div class="loginbtn">登録がお済みでない方は
                  <p><%= link_to ' こちら ', new_user_registration_path %> から新規登録してください。</p>
                  </div>
                </div>
                <% end %>



</div>