<h2>口コミ確認画面</h2>

<table class="table">
			<tbody>
				<tr>
	  				<th>メーカー</th>
	  				<th><%= @toy.manufacturer %></th>
  				</tr>

	  			<tr>
	  				<th>商品名</th>
	  				<th>
	  				<%= @toy.name %>
	  				</th>
	  			</tr>

	  			<tr>
	  				<th>価格</th>
	  				<th><%= @toy.price %>円
	  				</th>
  				</tr>

  				<tr>
	  				<th>商品説明</th>
	  				<th><%= @toy.toy_introduction %></th>
  				</tr>

			</tbody>
		</table>

		<tbody>
				<tr>
	  				<th>口コミポイント</th>
	  				<th>
	  					<div class="form-group row" id="star">
						    <%= @review.rate %>
						  </div>

						  <!-- 評価javascript -->
						  <script>
						  $('#star').raty({
						    size     : 36,
						    starOff:  '<%= asset_path('star-off.png') %>',
						    starOn : '<%= asset_path('star-on.png') %>',
						    starHalf: '<%= asset_path('star-half.png') %>',
						    scoreName: 'review[rate]',
						    half: true,
						    readOnly: true,
				            score: <%= @review.rate %>
						  });
						  </script>
	  				</th>
  				</tr>

	  			<tr>
	  				<th>口コミ</th>
	  				<th>
	  				<%= @review.body %>
	  				</th>
	  			</tr>

	  			<tr>
	  				<th>効果</th>
	  				<th><%= @review.effect.name %>
	  				</th>
  				</tr>

			</tbody>
		</table>




<%= simple_form_for [@toy,@review] do |f| %>
  <%= f.input :rate, as: :hidden %>
  <%= f.input :effect_id, as: :hidden %>
  <%= f.input :body, as: :hidden %>

<div class="actions">
    <%= f.submit '投稿画面に戻る', name: 'back' %>
</div>

<div class="actions">
    <%= f.submit '投稿する' %>
</div>

<% end %>
