<%= render 'layouts/header' %>

<div class="container">

  <div class="breadcrumbs">
    <%= link_to root_path do %>
  　　<%= "Home" %>
    <% end %>
    <%= ">" %>
    <span class="current">口コミ一覧</span>
  </div>


  <h3 class="toy_select">最近の口コミ</h3><br>

    <div class="col-md-12 searchfield">

      <% @reviews.each do |review| %>

        <div class="reviewarea">
          <div class="col-md-2 review-user">
            <%= attachment_image_tag review.user, :profile_image, format: 'jpeg', size: "100x100", fallback: "no_image.jpg" %><br>
            <p><%= review.user.name %>さん</p>
          </div>
          <div class="col-md-10 review-toy">
            <div class="reviewscontent">
              <div class="reviewscontenthead">
                <p class="reviewday" style="font-size: 10px"><%= review.created_at.strftime('%Y/%m/%d') %></p>
                <span style="font-size: 10px">使用したお子様の情報:　</span>
                <% if review.child.sex == 1 %>
                  <%= "男の子 " %><i class="fas fa-male " style="color: #68a4d9"></i>   |
                <% else %>
                  <%= "女の子 " %><i class="fas fa-female" style="color: #e95388"></i>   |
                <% end %>
                <%= review.child.age_year %>歳<%= review.child.age_month %>ヶ月 |
                <%= review.temperaments.pluck(:name).join(" ・") %>
              </div>
              <br>
              <div class="col-md-4 reviewstoy">
                <%= link_to toy_path(review.toy.id) do %>
                  <%= attachment_image_tag review.toy, :toy1_image, format: 'jpeg', size: "100x100", fallback: "no_image.jpg" %><br>
                <% end %>
                <p style="font-size: 10px"><%= review.toy.name %></p><br>
              </div>
              <div class="col-md-8">
                <!--星評価-->
                <div id="star-rate-<%= review.id %>"><%= review.rate %><%="　"%></div>
                  <script>
                    $('#star-rate-<%= review.id %>').raty({
                    size: 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    half: true,
                    readOnly: true,
                    score: <%= review.rate %>,
                    });
                  </script>
                <!--/星評価-->
                <br><br><p style="font-size: 10px"><%= review.body.truncate(30) %></p><br><br>

                <%= link_to '詳しくみる', toy_review_path(review.toy, review), class: 'btn btn-primary col-md-offset-2 col-md-6', data: {"turbolinks" => false} %>

                <% if user_signed_in? %>
                  <% unless review.user == current_user %>
                    <% if review.reviewfavorited_by?(current_user) %>
                      <%= link_to toy_review_reviewfavorites_path(review.toy, review), method: :delete do %>
                          参考になった！<i class="fas fa-thumbs-up"></i>
                        <%= review.reviewfavorites.count %>
                      <% end %>
                    <% else %>
                      <%= link_to toy_review_reviewfavorites_path(review.toy, review), method: :post do %>
                        参考になった！<i class="far fa-thumbs-up"></i>
                        <%= review.reviewfavorites.count %>
                      <% end %>
                    <% end %>
                <% else %>
                    参考になった！<i class="fas fa-thumbs-up"></i><%= review.reviewfavorites.count %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
    </div>
    <% end %>
  </div>
</div>