<%= render 'layouts/header' %>

<div class="container">


      <div class="col-md-8 reviewnewtitle">
        <h3>口コミを投稿する</h3>
      </div>

      <br><br>

        <div class="row col-md-offset-3 col-md-8 reviewtoy">
          <div>
            <div class="col-md-3">
              <%= attachment_image_tag @toy, :toy_image, format: 'jpeg', size: "100x100", fallback: "no_image.jpg" %>
            </div>

            <div class="col-md-5 reviewtoyp">
              <%= @toy.manufacturer %><br>
              <%= @toy.name %><br>
              <%= @toy.price %>円<br>
            </div>
          </div>
        </div>


        <div class="row col-md-12 reviewform">

          <div class="col-md-offset-2 col-md-8 reviewinform">

                <%= form_for [@toy, @review], url: confirm_toy_reviews_path do |f| %>

                  <div class="col-md-12 revieweffect form-group">
                    <%= f.label :child_id,'使用したお子様', class:'col-form-label' %>
                    <%= f.select :child_id, @children.map{|c| [c.name, c.id]} %>
                  </div>

                  <!-- 評価 -->
                  <div class="form-group" id="star">
                    <%= f.label :rate,'オススメ度　　', class:'col-form-label' %>
                    <%= f.hidden_field :rate, id: :review_star %>
                  </div>

                  <!-- 評価javascript -->
                  <script>
                  $('#star').raty({
                    size     : 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    scoreName: 'review[rate]',
                    half: true,
                  });
                  </script>

                  <div class="col-md-12 revieweffect form-group">
                    <%= f.label :effect_id,'効果　　　', class:'col-form-label' %>
                    <%= f.select :effect_id, Effect.all.map{ |effect| [effect.name, effect.id]} %>
                  </div>
                  <div class="col-md-offset-2 col-md-9 form-group">
                    <%= f.text_area :body, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
                  </div>

                  <div class="col-md-12 revieweffect botan">
                    <%= f.submit "確認画面へ", class: "btn btn-lg btn-base-1 btn-primary mt-20" %>
                  </div>

                <% end %>
          </div>
        </div>




