<header class="navbar navbar-fixed-top navbar-inverse" style="background-color: #fafad2">
  <div class="container">

<header>
    <nav class="nav navbar-nav navbar-left">
      <span></span>
    </nav>

  <% if user_signed_in? %>

  <nav>

    <ul class="nav navbar-nav navbar-left" >
      <div class="logo">
        <%= link_to root_path do %>
        <%= image_tag('icon3.jpg') %><!-- ロゴ追加する -->
        <% end %>
      </div>
    </ul>


      <ul class="nav navbar-nav navbar-right" >

        <p>ようこそ、<%= current_user.name %>さん！</p>

        <li>
          <%= link_to user_path(current_user) do %>
            <span class="glyphicon glyphicon-user" aria-hidden="true">
            マイページ
            </span>
          <% end %>
        </li>

        <li>
          <%= link_to toys_path do %>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true">
            口コミする
            </span>
          <% end %>
        </li>

        <li>
          <%= link_to child_archives_path do %>
            <span class="glyphicon glyphicon-book" aria-hidden="true">
            おもいで
            </span>
          <% end %>
        </li>

        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <span class="glyphicon glyphicon-log-out" aria-hidden="true">
              ログアウト
            </span>
          <% end %>
        </li>

      </ul>


  <% else %>


      <ul class="nav navbar-nav navbar-left" >

        <div class="logo">
          <%= link_to root_path do %>
          <%= image_tag('icon3.jpg') %><!-- ロゴ追加する -->
          <% end %>
        </div>
      </ul>

      <ul class="nav navbar-nav navbar-right" >

        <li>
          <%= link_to homes_about_path do %>
            <span class="glyphicon glyphicon-link" aria-hidden="true">
            About
            </span>
          <% end %>
        </li>

        <li>
          <%= link_to toys_path do %>
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            口コミを見る
            </span>
          <% end %>
        </li>

        <li>
          <%= link_to new_user_registration_path do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true">
            新規登録
            </span>
          <% end %>
        </li>

        <li>
          <%= link_to new_user_session_path do %>
            <span class="glyphicon glyphicon-log-in" aria-hidden="true">
              ログイン
            </span>
          <% end %>
        </li>
      </ul>

      </nav>
      <% end %>
</header>


<body>
<%= yield %>
</body>

</div>
</header>

<footer class="navbar navbar-fixed-bottom navbar-inverse" style="background-color: #fafad2">
        <p>CopyRight Infratop.inc</p>
</footer>
