<header>
  <% if user_signed_in? %>
  <ul class="nav navbar-nav navbar-left" >
    <div class="logo">
      <%= link_to root_path do %>
      <%= image_tag('icon3.jpg') %>
      <% end %>
    </div>
  </ul>

  <ul class="nav navbar-nav navbar-right" >

    <p>ようこそ、<%= current_user.name %>さん！</p>
    <li class="aikonn">
      <%= link_to 'マイページ', user_path(current_user), class: 'btn btn-primary' %>
    </li>
    <li class="aikonn">
      <%= link_to '口コミする', toys_path, class: 'btn btn-primary' %>
    </li>
    <li class="aikonn">
      <%= link_to 'おもいで', child_archives_path, class: 'btn btn-primary' %>
    </li>
    <li class="aikonn">
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
    </li>
  </ul>

  <% else %>

  <ul class="nav navbar-nav navbar-left" >

    <div class="logo">
      <%= link_to root_path do %>
      <%= image_tag('icon3.jpg') %>
      <% end %>
    </div>
  </ul>
  <ul class="nav navbar-nav navbar-right" >

    <li class="aikonn">
      <%= link_to 'About', homes_about_path, class: 'btn btn-primary' %>
    </li>
    <li class="aikonn">
      <%= link_to '口コミを見る', reviews_path, class: 'btn btn-primary' %>
    </li>
    <li class="aikonn">
      <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-primary' %>
    </li>
    <li class="aikonn">
      <%= link_to 'ログイン',  new_user_session_path, class: 'btn btn-primary' %>
    </li>
  </ul>

  <% end %>


</header>


